$color-bg: #F5F5FB;
$color-bgButton: #3D84FF;
$color-bgButtonHover: #005DFF;
$color-white: #FFFFFF;
$color-gray: #9D9BB6;
$color-typo: #3E3A6F;
$color-bgBlue: #3D84FF;
$color-bgBlueActive: #005DFF;
$color-typoH1: #103460;
$color-typoH2: #103460;
