.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    margin: 0px 100px;

    @include respond-to('small') {
        padding: 20px;
        margin: 0px;
    }

    &__content{
        display: flex;
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;

        @include respond-to('small') {
            flex-direction: column;
        }

        &Slider{
            width: 65%;
            display: flex;
            flex-direction: column;
            border-radius: 1.2rem;
            padding: 20px;
            height: 320px;
            align-items: flex-end;

            @include respond-to('small') {
                width: 100%;
            }

            &Category{
                background-color: $color-bgBlue;
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 3px 20px;
                border-radius: 1.2rem;
                color: $color-white;
                margin-top: 10px;
                width: 10%;

                @include respond-to('small') {
                    width: 25%;
                }

                & p{
                    font-size: 0.8rem;
                }
            }

            &Data{
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                height: 100%;

                @include respond-to('small') {
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 30px;
                }

                &Buttons{
                    display: none;
                    
                    @include respond-to('small') {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        & Button{
                            @include respond-to('small') {
                                display: flex;
                                width: 47px;
                                height: 32px;
                                border-radius: 5px;
                                background-color: $color-white;
                                padding: 15px;
                            }
                        }
                    }
                }

                &Btn{
                    width: 47px;
                    height: 32px;
                    border-radius: 5px;
                    background-color: $color-white;
                    padding: 15px;

                    @include respond-to('small') {
                        display: none;
                    }
                }

                &Info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0px 30px;

                    @include respond-to('small') {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0px;
                    }

                    &Title{
                        & h1 {
                            color: $color-white;
                            font-size: 2.6rem;
                        }
                    }

                    &Time{
                        color: $color-white;
                        @include respond-to('small') {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        &Today{
            display: flex;
            flex-direction: column;
            width: 30%;

            @include respond-to('small') {
                width: 100%;
                margin-top: 30px;
            }

            &Title {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 70%;
                    right: 0;
                    bottom: 0.6rem;
                    border-bottom: 2px #E8E8EE solid;
                    
                    @include respond-to('small') {
                        width: 60%;
                    }
                }
            }

            &Cards{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                margin-top: 35px;

                @include respond-to('small') {
                    gap: 20px;
                    flex-direction: row;
                }
            }
        }
    }
}