.fragmentHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 87px;
    position: fixed;
    z-index: 200;
    top: 0;
}
.search{
    display: none;

    @include respond-to('small') {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $color-white;
        padding: 20px;

        & .textfield{
            width: 100%;

            input {
                width: 100%;
            }
        }
    }
}
.header{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    height: 87px;
    box-shadow: 0px 2px 34px rgba(27,20,119,0.1);

    @include respond-to('small') {
        z-index: 10;

        & .textfield {
            display: none;
        }
    }

    &__menu{
        display: none;

        @include respond-to('small') {
            display: block;
            width: 30px;
            opacity: 0.6;
            object-fit: contain;
        }
    }

    &__logo{
        width: auto;
        object-fit: contain;

        @include respond-to('small') {
            width: 170px;    
        }
    }

    &__options{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;

        &Profile{
            display: flex;
            align-items: center;
            gap: 20px;

            &Notifications{
                display: flex;
                align-items: center;
                gap: 20px;
    
                & img{
                    width: auto;
                    height: 100%;
                }

                @include respond-to('small') {
                    display: none;
                }
            }

            &User{
                display: flex;
                align-items: center;
                gap: 20px;
                color: $color-typo;
                font-size: 1.1rem;

                p {
                    @include respond-to('small') {
                        display: none;
                    }
                }

                img {
                    &:nth-child(3){
                        @include respond-to('small') {
                            display: none;
                        }
                    }
                }
            }
        }

        @include respond-to('small') {
            & .btnAdd {
                display: none;
            }
        }
    }
}

