.currentEvent{
    display: flex;
    padding: 25px;
    align-items: center;
    background-color: $color-white;
    border-radius: 13px;
    box-shadow: 0 22px 34px 0 rgba(27,20,119,0.02);

    @include respond-to('small') {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        align-items: flex-start;
        width: 45%;
    }

    &__data{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include respond-to('small') {
            margin-left: 0px;
            gap: 5px;
            width: 100%;

            & h2{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        & p { 
            font-weight: 600;
            color: $color-gray;
            letter-spacing: 0;
            line-height: 16px;
            font-size: 0.9rem;
        }

        & h2 {
            font-weight: 600;
            font-family: $Gilroy;
            font-size: 1.1rem;
        }
    }
}